.score {
    font-size: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    margin: 5px 0;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.status-info {}

.status-info ol {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80vw;
    justify-content: space-between;
}

.status-info li {
    margin: 5px;
}

.status-info li button {
    border: 1px solid #444;
    padding: 5px;
    margin: 0;
    text-transform: unset;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 445px;
    margin: 0 auto;
}

.board li {
    flex: 1 1 50px;
    height: 50px;
    border: 1px solid #444;
    cursor: pointer;
    perspective: 1000px;
    padding: 0.625rem;
}

.board li:hover {
    background-color: rgb(188, 225, 250);
}

@media only screen and (max-width: 800px) {
    .board li {
        flex: 1 1 12.5%;
        height: 0;
        padding: 0.5% 5px 12%;
    }

    .status-info ol {
        flex-direction: row;
    }

    .status-info li {
        margin: 2px;
    }

    .status-info li button {
        min-width: 170px;
    }
}